header {
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    background: white;
    padding: 15px 10px;
}

.header-left, .header-right {
    display: flex;
}

.header-left >*, .header-right >* {
    padding: 10px;
}

.title {
    font-family: 'Times New Roman', Times, serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    min-height: 100vh;
    margin: 70px 100px;
    text-align: center;
    grid-row-gap: 20px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-container {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
}

.icon {
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    padding: 5px 10px;
}

.middle {
    grid-column: 2 / -2;
}

.full {
    grid-column: 1 / -1;
}

.popout-words {
    font-size: 50px;
}

@media (max-width: 820px) {
    main {
        grid-template-columns: 1fr 10fr 1fr;
        margin: 5px;
    }
}

